node_modules
npm-debug.log
bower_components/
dist.dev/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
private/backup_migrate/scheduled
private/backup_migrate/manual


# Ignore IDE files.
.idea
nbproject

*.sql
FirePHPCore

# Ignore other misc system files.
.DSstore
.DS_Store
error_log
sites/default/files/*
sites/default/files/ctools/css/10e0e256e214e96ecb94c344678fa1fd.css

sites/default/files/video_embed_field_thumbnails/youtube/FNF3dRsZn3w.jpg

sites/default/files/video_embed_field_thumbnails/youtube/T0AQ02WdLrM.jpg

sites/default/files/video_embed_field_thumbnails/youtube/hpZGVQbIXTo.jpg

sites/default/files/video_embed_field_thumbnails/youtube/4ZkOCwsXEF8.jpg

sites/default/files/video_embed_field_thumbnails/youtube/8leKGA_nzp4.jpg

sites/default/files/video_embed_field_thumbnails/youtube/D23Azw-AjLo.jpg

sites/default/files/video_embed_field_thumbnails/vimeo/79541124.jpg

sites/default/files/video_embed_field_thumbnails/facebook/264099227071711.jpg

sites/default/files/video_embed_field_thumbnails/facebook/1437984699753166.jpg

sites/default/files/video_embed_field_thumbnails/vimeo/79541124.jpg

sites/default/files/video_embed_field_thumbnails/facebook/264099227071711.jpg

sites/default/files/video_embed_field_thumbnails/facebook/1437984699753166.jpg

sites/default/files/styles/medium/public/video_embed_field_thumbnails/youtube/y2Y8P3ulWCQ.jpg

sites/all/modules/contrib/video_embed_field/video_embed_instagram/video_embed_instagram.module

sites/default/files/xmlsitemap/NXhscRe0440PFpI5dSznEVgmauL25KojD7u4e9aZwOM/1.xml

sites/default/.settings.php.swp

sites/all/themes/winin/css/newbattle.css

teste.php

teste_bkp.html

sites/all/modules/dev/winin_battles_new/winin-battles_new.tpl-BKP.php
/.settings/

bigdump.php

winin_1.sql.gz

winin_2.sql.gz
